body{
    background-image: url("../assets/ocean-floor.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 900px;
    max-height: 900px;
    overflow: hidden;
}

header {
display: flex;
justify-content: center;
align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

input {
    width: 60px;
    height: 23px;
}

.nametag {
    color: rgb(215, 233, 248);
    font-size: 30px;
    text-align: center;
}

.dark {
    background-color: rgba(4,4,4,.6);
    max-width: 900;
}

.dark-transparent {
    border-radius: 10px;
    background-color: rgba(4,4,4,.4);
    color: rgb(215, 233, 248);
    padding: 15px;
}

.red {
    color: rgb(210, 57, 57);
}

.green {
    color: rgb(32, 160, 32);
}

.control-buttons {
    padding: 5px;
    /* width: 100px; */
}

.hidden {
    width: 0;
    height:0;
    padding: 0;
}

.egg-idle { 
/* animation for idle egg stage */
    animation-name: wiggle-bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

.egg-feed {
/* animation for feeding egg stage */    
    animation-name: egg-zip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.egg-play { 
/* animation for play egg stage */
    animation-name: egg-zip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.egg-sleep {
/* animation for sleeping egg stage */
    animation-name: egg-sleep;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.fish-idle { 
/* animation for idle fish stages */
    animation-name: fish-idle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.fish-feed {
/* animation for feeding fish stages */
    animation-name: fish-feed;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.fish-play { 
/* animation for play fish stages */
    animation-name: fish-play;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.fish-sleep {
/* animation for sleeping fish stages */
    animation-name: fish-sleep;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
    
.fish-dead {
/* animation for dead fish*/
    animation-name: fish-dead;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease; */
}

@keyframes wiggle-bounce {
    from {

    }
    33% {
        transform: scaleY(.9) translateY(10px);
    }
    66% {
        transform: scaleY(1.05) translateY(-30px);
    }
    to {

    }
}

@keyframes egg-zip {
    from {

    }
    25% {
        transform: translate(100%, -100px);
    }
    75% {
        transform: translate(-100%, -100px);
    }
    to {

    }
}

@keyframes egg-sleep {
    from {
        transform: scaleY(.8) skewX(-3deg) translateY(15px);
    }
    to {
        transform: scaleY(1) skewX(-2deg) translateY(0px);
    }
}
@keyframes fish-idle {
    from{}
    12% { transform: translate(  50px, -15px) scaleX( 1); }
    24% { transform: translate(  99px,  14px) scaleX( 1); }
    25% { transform: translate( 100px,  15px) scaleX(-1); }
    37% { transform: translate(  50px, -15px) scaleX(-1); }
    50% { transform: translate(   0px,  15px) scaleX(-1); }
    63% { transform: translate( -50px, -15px) scaleX(-1); }
    74% { transform: translate( -99px,  14px) scaleX(-1); }
    75% { transform: translate(-100px,  15px) scaleX( 1); }
    87% { transform: translate( -50px, -15px) scaleX( 1); }
    to {}
}
@keyframes fish-feed {
    from{ transform: rotate(-30deg) translate(   0px, -100px) scaleX(1);}
    12% { transform: rotate(-30deg) translate(  50px, -115px) scaleX(1); }
    24% { transform: rotate(-30deg) translate(  99px, -100px) scaleX(1); }
    25% { transform: rotate( 30deg) translate( 100px, -100px) scaleX(-1); }
    37% { transform: rotate( 30deg) translate(  50px, -115px) scaleX(-1); }
    50% { transform: rotate( 30deg) translate(   0px, -100px) scaleX(-1); }
    63% { transform: rotate( 30deg) translate( -50px, -115px) scaleX(-1); }
    74% { transform: rotate( 30deg) translate( -99px, -100px) scaleX(-1); }
    75% { transform: rotate(-30deg) translate(-100px, -100px) scaleX(1); }
    87% { transform: rotate(-30deg) translate( -50px, -115px) scaleX(1); }
    to  { transform: rotate(-30deg) translate(   0px, -100px) scaleX(1); }
}
@keyframes fish-play {
    from{ transform: rotate(  0deg); }
    to  { transform: rotate(360deg); }
}
@keyframes fish-sleep {
    from {
        transform: scaleY(1) skewX(-1deg) translateY(0px);
    }
    to {
        transform: scaleY(.9) skewX(-5deg) translateY(10px);
    }
}
@keyframes fish-dead {
    from { transform: scaleY(-1); }
    to { transform: scaleY(-1) translateY(200px);}
}
#viewport {
    border-radius: 10px;
    border: 50px solid rgba(4,4,4,.7);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 10px;
}

#charImg {
    position: relative;
}